

/* CSS for screens with a width up to 600px */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} 
@media screen and (max-width: 600px) {
    .box {
      margin-top: 85px;
      margin-left: 50px;
      font-weight: bolder;
      height: 1000px;
      width: 1000px;
    }
    .spa{
      font-size: 32px;
    }
    .box1 {
      margin-left: 100;
    }
   
    
    .user-input {
      width:300px;
     border: none;
     border-bottom: 2px solid rgb(25, 153, 245);
     margin-top: 30px;
     font-size: 14px; 
     max-width: 380px;
   }

   .user-input i {
     text-align: center;
     line-height: 47px;
     color: #acacac;
     font-size: 18px;
   }
   .user-input input {
     background: none;
     outline: none;
     border: none;
     line-height: 1;
     font-weight: 600;
     font-size: 14px;
     color: #333;
     text-indent: 30px;
     margin-top: -32px;
   }
   .user-input input::placeholder {
     color: #aaa;
     font-weight: 500;
   }

    .em {
       width:300px;
      border: none;
      border-bottom: 2px solid rgb(25, 153, 245);
      margin-top: 30px;
      font-size: 14px; 
      max-width: 380px;
    }
    .fa-eye-slash{
        margin-top: -45px;
        margin-left: 250px;
       }
    .em i {
      text-align: center;
      line-height: 47px;
      color: #acacac;
      font-size: 18px;
    }
    .em input {
      background: none;
      outline: none;
      border: none;
      line-height: 1;
      font-weight: 600;
      font-size: 14px;
      color: #333;
      text-indent: 30px;
      margin-top: -32px;
    }
    .em input::placeholder {
      color: #aaa;
      font-weight: 500;
    }

   

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
        
    }
    
    .sub {
     
      width: 80%;

      margin-top: 40px;
      width: 100px;
      height: 30px;
      border-radius: 9px;
      background-color: rgb(25, 153, 245);
      border: none;
      color: white;
      font-size: medium;
      font-weight:bolder;
      margin-left: 200px;
    }
    .box::before{
      content: "";
      background-color: rgb(25, 153, 245);
      position:absolute;
      width: 1500px;
      height: 1500px;
      margin-left: -1000px;
      border-radius: 50%;
      top: 50%;
      z-index: -1;

  }
  .box1{
    margin-left: 200px;
    transition: all 3s ease-in;
    opacity: 0;
}

.form{
    position: absolute;
    margin-left: 0px;
    transition: all 1s ease-in;
    opacity: 1;
  }
  body{
    overflow: hidden;
  }
  
}
  
  /* CSS for screens with a width between 601px and 900px */
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .box {
      margin-top: 100px;
      margin-left: 200px;
      
    }
    
    .box1 {
      margin-top: -20px;
      margin-left:250px;
    }
    
    .spa{
     
      font-weight: bolder;
      font-size: 48px;
      width: 1000px;
    }
    .input-box{
      margin-left:-18px;
    }
    .em {
      width:300px;
     border: none;
     border-bottom: 2px solid rgb(25, 153, 245);
     margin-top: 15px;
     font-size: 14px; 
     max-width: 400px;
     margin-left: 30px;
   }

   .em i {
     text-align: center;
     line-height: 47px;
     color: #acacac;
     font-size: 18px;
     margin-left: 13px;
   }
   .em input {
     background: none;
     outline: none;
     border: none;
     line-height: 1;
     font-weight: 600;
     font-size: 14px;
     color: #333;
     text-indent: 10px;
     margin-top: -32px;
   }
   .em input::placeholder {
     color: #aaa;
     font-weight: 500;
   }
   .fa-eye-slash{
    margin-top: -45px;
    margin-left: 250px;
   }
   .user-input {
    width:300px;
   border: none;
   border-bottom: 2px solid rgb(25, 153, 245);
   margin-top: 15px;
   font-size: 14px; 
   max-width: 400px;
   margin-left: 30px;
 }

 .user-input i {
   text-align: center;
   line-height: 47px;
   color: #acacac;
   font-size: 18px;
   margin-left: 13px;
 }
 .user-input input {
   background: none;
   outline: none;
   border: none;
   line-height: 1;
   font-weight: 600;
   font-size: 14px;
   color: #333;
   text-indent: 10px;
   margin-top: -32px;
 }
 .user-input input::placeholder {
   color: #aaa;
   font-weight: 500;
 }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
        
    }
    
    .sub {
      width: 80%;

      margin-top: 40px;
      width: 100px;
      height: 30px;
      border-radius: 9px;
      background-color: rgb(25, 153, 245);
      border: none;
      color: white;
      font-size: medium;
      font-weight:bolder;
      margin-left: 220px;
    }
    .box::before{
      content: "";
      background-color: rgb(25, 153, 245);
      position:absolute;
      width: 1500px;
      height: 1500px;
      margin-left: -1000px;
      border-radius: 50%;
      top: 50%;
      z-index: -1;

  }
  .box1{
    margin-left: 200px;
    transition: all 3s ease-in;
    opacity: 0;
}

.form{
    position: absolute;
    margin-left: 0px;
    transition: all 1s ease-in;
    opacity: 1;
}
body{
  overflow: hidden;
}
  }
  
  /* CSS for screens with a width above 900px */
  @media screen and (min-width: 901px) {
    .box {
  
      margin-top: 100px;
      margin-left: 500px;
      font-weight: bolder;
      overflow: hidden;
      transition: all 1s ease-in;
    
    }
    .spa{
      font-size: 55px;
    }
    
    .box1 {
      margin-left: 200px;
    }
    
    .input-box{
      margin-top: 40px;
    }
    .em {
      width:300px;
     border: none;
     border-bottom: 2px solid rgb(25, 153, 245);
     margin-top: 30px;
     font-size: 14px; 
     max-width: 400px;
     margin-left: 20px;
   }

   .em i {
     text-align: center;
     line-height: 47px;
     color: #acacac;
     font-size: 18px;
   }
   .em input {
     background: none;
     outline: none;
     border: none;
     line-height: 1;
     font-weight: 600;
     font-size: 14px;
     color: #333;
     text-indent: 20px;
     margin-top: -32px;
   }
   .em input::placeholder {
     color: #aaa;
     font-weight: 500;
   }

   .fa-eye-slash{
    margin-top: -45px;
    margin-left: 250px;
   }

   .user-input {
    width:300px;
   border: none;
   border-bottom: 2px solid rgb(25, 153, 245);
   margin-top: 20px;
   font-size: 14px; 
   max-width: 380px;
   margin-left: 20px;
 }

 .user-input i {
   text-align: center;
   line-height: 47px;
   color: #acacac;
   font-size: 18px;
   
 }
 .user-input input {
   background: none;
   outline: none;
   border: none;
   line-height: 1;
   font-weight: 600;
   font-size: 14px;
   color: #333;
   text-indent: 30px;
   margin-top: -32px;
 }
 .user-input input::placeholder {
   color: #aaa;
   font-weight: 500;
 }
    .sub {
      margin-top: 40px;
      width: 100px;
      height: 30px;
      border-radius: 9px;
      background-color: rgb(25, 153, 245);
      border: none;
      color: white;
      font-size: medium;
      font-weight:bolder;
      margin-left: 230px;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }
    .box::before{
      content: "";
      background-color: rgb(25, 153, 245);
      position:absolute;
      width: 1500px;
      height: 1500px;
      margin-left: -1400px;
      border-radius: 50%;
      top: 20%;
      z-index: -1;

  }
  .box1{
    margin-left: 200px;
    transition: all 3s ease-in;
    opacity: 0;
}

.form{
    position: absolute;
    margin-left: 0px;
    transition: all 1s ease-in;
    opacity: 1;
}
body{
  overflow: hidden;
}
}
  