{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %} ">
  
    <script src="https://kit.fontawesome.com/2f4812b960.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>LogIn</title>
    <style>
        .cusmes{
            position: absolute;
            top: -174px;
            width: 100%;
            margin-left: -600px;
        }
        
        
    </style>
</head>
<body onload="ani()">

  
    
    <div class="box" id="box">
        {% if messages %}
            <div class="container mt-4 cusmes">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    <form action=""  style="margin: 0px;" method="POST">
        {% csrf_token %}
        <header class="head">SIGN IN</header>
        <br>
        <div class="inputf">
        <i class="fa fa-user" ></i>
        <input     type="text"  value="" placeholder="Username" name="name" required>
        <br>
        <br>
        <br>
        </div>
        <br>
        <div class="inputf">
        <i class="fa-solid fa-lock"></i>
        <input  type="password"  value="" placeholder="Password" id="pass" name="pass" required>
        <br>
        </div>
    
        <input type="checkbox" class="hide" onclick="ShowPass()">
        <label  class="check1" >Show Password</label>
        <br>
        <input class="sub" type="submit" value=  " Login" >
        <br>
        <br>
    
        <input type="checkbox" class="b">
        <label  class="check" for="check">Remember me</label>
        <br>
        <span class="spa" ><a href="{% url 'reset_password' %}" style="text-decoration: none;color: black;">Forgot password? </a></span>
        <br>
        <span class="spa1">Dont have an account? <a href="{% url 'verify_email' %}" style="text-decoration: none;color: black;">Register here</a> </span>

        <img src="/static/img/logo.png" alt="" width="280" height="150" class="img">
        <br>
        <span class="txt1">LogWay</span>
    </form>

</div>
<script>
    function ani(){
    var a=document.getElementById('box');
    a.classList.add("ani");
    
    a.classList.add("box1");}

    function ShowPass()
    {
        var a=document.getElementById("pass")
        if(a.type=="password")
        {
            a.type="text";
        }
        else
        {
        a.type="password";
        }
    }
</script>
</body>
</html>