{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2f4812b960.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>S_HomePage</title>
    <style>
        body::-webkit-scrollbar {
            display: none;
          }
        .messages-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
        }

        .custom-message {
            position: relative;
            padding: 1rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: 0.25rem;
            font-family: Georgia;
        }

        .custom-message-success {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
    
        }

        .custom-message-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            
        }

        .custom-message .close {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            color: inherit;
            opacity: 0.5;
        }

        .custom-message .close:hover {
            opacity: 1;
        }
    </style>
</head>
<body >
    <header class="header">
        <nav class="navbar">
            <div class="nav-head">
            <span class="logway">
                LogWay
            </span>
        </div>
           
            <ul class="navlist">
                <header class="list-link">
                <a href="#" class="link">Home</a>
                <a href="#About" class="link">About</a>
                <a href="#Service" class="link">Service</a>
                <a href="#Contact" class="link">Contact</a>
                
                  
              
                    <div class="photo">
                        {% if request.user.profile %}
                        <a href="{% url 'profile' %}">
                      <img src="{{ request.user.profile.url }}" alt="no image" class="user-photo" > </a>
                      {% else %}
                      <a href="{% url 'profile' %}">
                      <img src="/static/img/user1.png" alt=" " class="user-photo" href="{% url 'profile' %}"> </a>
                      {% endif %}
                    </div>
                </header>
               
            <div class="navbutton">
                
                <i class="fa-solid fa-bars" id="divicon"></i>
            
                
            </div>
            <div class="menu">
                <ul class="menu-ul">
                    <li class="menu-li"><i class="fa-solid fa-house menus" ></i></li>
                    <li class="menu-li"><i class="fa-solid fa-user menus"></i></li>
                    <li class="menu-li"><i class="fa-solid fa-briefcase menus"></i></li>
                    <li class="menu-li"><i class="fa-solid fa-phone menus"></i></li>
                </ul>
                <ul class="menu-name">
                    <li class="menu-name-link" ><a href="#">Home</a></li>
                    <li class="menu-name-link" > <a href="#About">About</a> </li>
                    <li class="menu-name-link"><a href="#Service">Service</a></li>
                    <li class="menu-name-link"><a href="#Contact">Contact</a></li>
                </ul>
                <i class="fa-solid fa-xmark cross" id="close"></i>
            </div>
        
        </nav>
        <div class="messages-container">
            {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="custom-message custom-message-success">
            <span>{{message}}</span>
            <button class="close" onclick="closeMessage(this)">&times;</button>
        </div>
        {% elif message.tags == 'error' %}
        <div class="custom-message custom-message-danger">
            <span>{{ message}}</span>
            <button class="close" onclick="closeMessage(this)">&times;</button>
        </div>
        {% endif %}
    {% endfor %}
        </div>
       
    </header>
   
   
<!-- home section -->
<main class="main">
   <div class="smart-div"> 
    <a href="{% url 'chatbot' %}">
        <img src="/static/img/chatbot.png" alt="" class="chatbot"   >
    </a>
       <img src="/static/img/icons8-menu-24.png" alt="" class="menu-bar" id="menu-bar" >
   </div>
   <div class="smart-div-div" id="smart-div-div" >
    <i class="fa-solid fa-xmark" id="xmark" ></i>
   
   <ul id="list1" style="position:fixed;" >
        <li><a href="{% url 'view_couriers' %}">View Couriers Available</a></li>
        <li><a href="{% url 'accepted_courier' %}">View Couriers Accepted</a></li>
        <li><a href="{% url 'accepted_courier' %}">Upload Courier Image</a></li>
        <li><a href="{% url 'for_delivery' %}">Accept Couriers for delivery</a></li>
        <li><a href="{% url 'accepted_for_delivery' %}">Accepted Courier for destination</a></li>
        <li><a href="{% url 'accepted_courier' %}">Mark reached</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
       
   </ul>
   </div>
        <section class="home" id="Home" style="background: rgba(25,31,38,0.8) url({% static '/img/city.jpg' %});"  >
          
            <div class="icon">
              
               <img src="/static/img/icons8-linkedin.svg" alt="">
               
                <img src="/static/img/icons8-instagram.svg" alt="" >
                
                <img src="/static/img/icons8-facebook.svg" alt="">
               
        </div>
           <div class="homeblob">
                <svg class="home-blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <mask id="mask0" mask-type="alpha">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                            </mask>
                            <g mask="url(#mask0)">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                                <image class="home-blob-img" x='12' y='18' xlink:href="img/perfil.png" />
                            </g>
                </svg>
            </div> 
            <div class="homelog">
               <h1 class="homehead">Hi, We're LogWay</h1>
               <div class="subheading">
                <span class="">Our courier management website streamlines your delivery operations with precision and ease, ensuring timely and safe transportation of your valuable packages. Experience hassle-free logistics management at its finest.</span>
            </div>

            </div>

            <div class="homebutton">
                <a href="#Contact">
                <input type="submit"  value="Contact Us" class="submit"  >
                <i class="fa-solid fa-paper-plane"></i>
            </a>
            </div>

            <div class="scroll">
                <span class="scrollbar">Scroll Down</span>
                <i class="fa-sharp fa-solid fa-arrow-down"></i>
            </div>
            <div class="slider-wrapper">
            <div class="slider">
              
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <div class="slide first">
                        <img src="/static/img/My project (5).png" alt="" class="slide-image" height="300px" width="300px">
                        
                    </div>
                    <div class="slide">
                        <img src="/static/img/My project (2).png" alt="" class="slide-image" height="300px" width="300px">
                    </div>
                    <div class="slide">
                        <img src="/static/img/My project (6).png" alt="" class="slide-image"height="350px" width="350px">
                    </div>
                    <div class="slide">
                        <img src="/static/img/image1.png" alt="" class="slide-image" height="300px" width="300px">
                    </div>
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                  
                </div>
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
         
            </div>
        </div>
           
                
        </section>
    </main>
<!-- about section -->

       <section class="about box"  id="About" >

            <div class="aboutdiv ">
                <div class="back-about" >
                <div class="abouthead">
                    <span class="aboutus ">About Us</span>

                </div>
                <span class="about-tag">Who We Are</span>
            </div>
                <div class="mainabout ">
                    <div class="imagediv box">
                        <img src="/static/img/about-main.jpg" alt="" class="aboutimg">

                    </div>
                    <div class="subhead box">
                        <span class="aboutsub">
                            Welcome to our online courier service, where convenience, reliability, and security converge to simplify your shipping experience. At [Company Name], we are dedicated to providing seamless online sending and tracking of courier packages, ensuring safe and efficient delivery to your desired destinations.
                                <br>
                            Our mission is to revolutionize the courier industry by offering a user-friendly and efficient platform that allows individuals and businesses to send their packages effortlessly, track them in real-time, and enjoy peace of mind knowing their shipments are in capable hands. We strive to provide exceptional customer service, transparency, and reliable delivery services, making us your trusted courier partner.
                        </span>

                    </div>
                    <div class="subdiv box">
                        <div class="sub1-box">
                            <span class="sub1">
                                Express Services
                            </span>
                           
                            <span class="sub1">
                                Advanced Tracking</span>
                              
                            <span class="sub1">
                                Customer Support
                            </span>
                        </div>
                        <div class="subdivi">
                          <div class="sub2">
                        <span >We offer express Pick up & Express Delivery</span>
                        </div>
                        <div class="sub3">
                        <span >We offer fast & reliable package delivery at cost-effective pricing</span>
                        </div> 
                        <div class="sub4">
                        <span >We offer 24/7 customer service</span>
                      </div>
                    </div>
                    </div>

                </div>
                   
            </div>
        </div>
       </section> 
       
<!-- section service -->
 <section class="service" id="Service">
    <div class="main-service" style="background: rgba(25,31,38,0.8) url({% static '/img/service-image2.jpg' %});background-blend-mode:hard-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;">
        <div class="service-head box">
            <span class="heading-service">Services</span>
        </div>
        <span class="service-tag box">Delivering Beyond Expectations</span>
        <div class="service-box box">
            <div class="service-box-ser">
                <i class="fa-solid fa-clock"></i> 
                <p>24X7 </p>
                <span class="ser-text1">online courier services are available round the clock, seven days a week, allowing customers to send and receive packages at any time, including weekends and holidays. These services are particularly useful for urgent or time-sensitive deliveries</span>
               
             </div>    
            <div class="service-box-serv">
                 <i class="fa-solid fa-map-pin"></i>
                 <p>Track</p> 
                 <span class="ser-text2">Our service provides reliable tracking for all couriers sent to their destinations, ensuring transparency and peace of mind for our customers.
                With our advanced tracking system, you can easily monitor the progress of your courier from pickup to delivery, giving you real-time updates at every stage.   </span>
            </div>
            <div class="service-box-servi"> 
                <i class="fa-solid fa-globe"></i>
                <p>Online</p> 
                <span class="ser-text3">Say goodbye to traditional hassles and embrace the simplicity of our streamlined online courier service, making sending packages easier than ever before.Experience the convenience of our fully online courier service, eliminating the need for senders to visit our office. </span>
            </div>
          
        </div>
      
</div>
</section> 


    <!-- section Contact -->
       <section class="contact" id="Contact">
            <div class="contact-us ">
                <div class="main-contact box">
                    <span class="contact-head">Contact Us</span>
                </div>
                <span class="contact-tag box">Get in Touch</span>
                
              <div class="contact-forms ">
                <form action="" class="form-input box" method="POST">
                    {% csrf_token %}
                <input class="textbox" type="text" name="namebox" id="namebox" placeholder="Name" value="{{ request.user.username }}" readonly>
                <input class="emailbox" type="email" name="emailbox" id="emailbox" placeholder="Email" value="{{ request.user.email }}" readonly>
                <input class="phonebox" type="text" pattern="[0-9]{10}" name="phone" id="phone" placeholder="Phone number">
                <textarea class="areabox" name="areabox" id="areabox" cols="30" rows="10" placeholder="Description"></textarea>
                <div class="contact-button">
                <input type="submit" value="Send" class="submitbox">
                <i class="fa-solid fa-paper-plane con"></i>
              </div>
                 </form>
              </div>
            </div>  
       </section>
        
     <footer class="footer">
            <div class="foot-page">
                <span class="foot-log">LogWay</span>

               
                    <ul class="footer-list">
                        <li class="foot-link"><a href="{% url 'home'%}#Service"> Service</a> </li>
                        <li class="foot-link"><a href="{% url 'home'%}#Contact" > Contact</a> </li>
                        <li class="foot-link"><a href="{% url 'home'%}#About" > About</a> </li>
                    </ul>
                    <div class="foot-icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook"></i>
                       
                </div>
                <div class="copy-right">
                    <p class="foot-copy">&copy;  LogWay. All right reserved</p>
                </div>
                <div class="foot-up" >
                    <a href="#Home">    <i class="fa-sharp fa-solid fa-arrow-up"></i> </a>
             
                </div>
            </div>

       </footer>
      

    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script>
        let windowWidth = window.innerWidth;
    console.log(windowWidth);
    function closeMessage(element) {
        var message = element.parentNode;
        message.parentNode.removeChild(message);
    }
    </script>



</body>
</html>