{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>view courier sent</title>
    <link rel="stylesheet" href="{% static 'css/view_courier_sent.css' %}">
    <script src="https://kit.fontawesome.com/2f4812b960.js" crossorigin="anonymous"></script>
    <style>
        body::-webkit-scrollbar {
            display: none;
          }
        .table-container::-webkit-scrollbar {
            display: none;
          }
          .table-container thead {
            position: sticky;
            top: 0;
            z-index: 1;
          }
    </style>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="nav-head">
            <span class="logway">
                LogWay
            </span>
        </div>
           
            <ul class="navlist">
                <div class="list-link">
                    <a href="{% url 'home' %}" class="link">Home</a>
                    <a href="{% url 'home'%}#About " class="link">About</a>
                    <a href="{% url 'home'%}#Service" class="link">Service</a>
                    <a href="{% url 'home'%}#Contact" class="link">Contact</a>
               
                  <div class="photo">
                    {% if request.user.profile %}
                    <a href="{% url 'profile' %}">
                  <img src="{{ request.user.profile.url }}" alt="no image" class="user-photo" > </a>
                  {% else %}
                  <a href="{% url 'profile' %}">
                  <img src="/static/img/user1.png" alt=" " class="user-photo" href="{% url 'profile' %}"> </a>
                  {% endif %}
                </div>
                </div>
               
            <div class="navbutton">
                
                <i class="fa-solid fa-bars" id="divicon"></i>
            
                
            </div>
            <div class="menu">
                <ul class="menu-ul">
                    <li class="menu-li"><i class="fa-solid fa-house menus" ></i></li>
                    <li class="menu-li"><i class="fa-solid fa-user menus"></i></li>
                    <li class="menu-li"><i class="fa-solid fa-briefcase menus"></i></li>
                    <li class="menu-li"><i class="fa-solid fa-phone menus"></i></li>
                </ul>
                <ul class="menu-name">
                    <li class="menu-name-link" ><a href="{% url 'home' %}">Home</a></li>
                    <li class="menu-name-link" > <a href="{% url 'home'%}#About">About</a> </li>
                    <li class="menu-name-link"><a href="{% url 'home'%}#Service">Service</a></li>
                    <li class="menu-name-link"><a href="{% url 'home'%}#Contact">Contact</a></li>
                </ul>
                <i class="fa-solid fa-xmark cross" id="close"></i>
            </div>
        
        </nav>
    </header>
    <main class="view-courier" style="background: rgba(9, 9, 9, 0.9) url({% static '/img/view5.jpg' %});
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;">
        <div class="main-div">
            <div class="main-view-page">
                <img src="/static/img/pexels-artem-podrez-5025503.jpg" alt="" class="image-send">
            </div>
            <div class="view-paragraph">
                <span class="view-sentence">
                    Users are provided with an intuitive interface where they can effortlessly access a comprehensive overview of the couriers they have sent, granting them the ability to conveniently examine vital details such as payment information, courier ID specifics, and facilitating them in seamlessly tracking the progress of their shipments in real-time.
                    <br>
                    The details below are end-to-end encryption protocols, ensuring the utmost security and imperviousness to any unauthorized access, thereby guaranteeing that no sensitive information is susceptible to leakage or compromise, thereby fostering an environment of absolute confidentiality and bolstering user confidence in the unyielding protection of their data throughout every step of the courier management process.
                </span>
            </div>
            
           
        </div>
        <div class="get-started">
           
            <span class="get">Get Started</span>
            <i class="fa-sharp fa-solid fa-arrow-down"></i>
        </div>
       
       

        <section class="available">
            <span class="sentence1">Couriers Sent</span>
      
        <div class="table-container">
            <table>
              <thead>
                <tr >
                <th>Sender</th>
                <th>Location</th>
                <th>Phone Number</th>
                <th>View Details</th>
                <th>Track Courier</th>
                <th>Payment</th>
                </tr>
              </thead>
              <tbody>
                <tr>
            {% for courier in couriers %}
            {% if courier.sender == request.user %}
            <td>{{ courier.sender }}</td>
            <td>{{ courier.location }}</td>
            <td>{{ courier.phone_number }}</td>
           
            <td><button style="color:green"><a href="{% url 'view_upload_img' courier.id %}" style="text-decoration:none;">View Details</a></button></td>
            <td><button style="color:green"><a href="{% url 'update_courier' courier.id  %}" style="text-decoration:none;"> Track</a></button></td>
            {% if courier.payment %}
            <td style="color:white;background-color:green;">Payment done</td>
            {% else %}
            <td style="color:white;background-color:red">Payment pending</td>
            {% endif %}
                </tr>
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
          </div>
        </section>   
    </main>
    <footer class="footer">
        <div class="foot-page">
            <span class="foot-log">LogWay</span>

           
            <ul class="footer-list">
                <li class="foot-link"><a href="{% url 'home'%}#Service"> Service</a> </li>
                <li class="foot-link"><a href="{% url 'home'%}#Contact" > Contact</a> </li>
                <li class="foot-link"><a href="{% url 'home'%}#About" > About</a> </li>
            </ul>
                <div class="foot-icon">
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                   
            </div>
            <div class="copy-right">
                <p class="foot-copy">&copy;  LogWay. All right reserved</p>
            </div>
            <div class="foot-up" >
                <a href="#top">    <i class="fa-sharp fa-solid fa-arrow-up"></i> </a>
         
            </div>
        </div>

   </footer>

</body>
<script>
   
document.getElementById("divicon").addEventListener('click',displaymenu);
function displaymenu()
{
    var a=document.getElementsByClassName('menu');
    a[0].style.height = "150px";
    a[0].style.boxShadow="rgba(0,0,0,0.45) 25px 25px 25px 25px";

}

document.getElementById("close").addEventListener('click',closemenu);
function closemenu()
{
    var a=document.getElementsByClassName('menu');
    a[0].style.height = "0px";
    a[0].style.boxShadow="rgba(0,0,0,0.45) 0px 0px 0px 0px";
}


</script>
</html>